<div *ngIf="currentTab == tabIndex">
    <div *ngFor="let shPostAttr of getTabPostAttrs()">
        <div *ngIf="shPostAttr.shPostTypeAttr.shWidget.name !== 'Tab'" style="margin: 10px 0px;">
            <div class="form-group">
                <div class="form-group-header">
                    <label for="example-textarea">{{shPostAttr.shPostTypeAttr.label}}</label>
                </div>
                <shio-text-widget [(ngModel)]="shPostAttr.strValue"></shio-text-widget>
                <div class="form-group-body">

                    <textarea *ngIf="shPostAttr.shPostTypeAttr.shWidget.name === 'Text Area'" class="form-control"
                        id="example-textarea" [(ngModel)]="shPostAttr.strValue"></textarea>
                    <input
                        *ngIf="shPostAttr.shPostTypeAttr.shWidget.name !== 'Text Area' && shPostAttr.shPostTypeAttr.shWidget.name !== 'HTML Editor' && shPostAttr.shPostTypeAttr.shWidget.name !== 'Ace Editor - HTML' && shPostAttr.shPostTypeAttr.shWidget.name !== 'Ace Editor - Javascript'"
                        class="form-control" [(ngModel)]="shPostAttr.strValue">
                    <editor *ngIf="shPostAttr.shPostTypeAttr.shWidget.name === 'HTML Editor'"
                        [(ngModel)]="shPostAttr.strValue"></editor>
                </div>
            </div>
        </div>
    </div>
</div>
